* {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}
.Top-bar{
    padding-top: 20px;
    padding-left: 30px;
    background-color:#3187c0;
    height: 85px;
}

h1 {
    color: white;
}
.main-body{
    display:flex;
    flex-flow: row nowrap;
}


.nav-div{
    width:220px;
}

nav {
    padding-top: 20px;
    width: 220px;
    height: 1000px;
    background-color:  #4d98ca;
}


nav ul{
    padding: 0px;
    list-style: none;
}

nav ul li{
    border-bottom: 1px solid #276289;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 45px;
    list-style: none;
}

nav ul li:hover{
    background-color: white;
    transition: linear all 0.4s;

}

nav ul li a:hover{
    color: black;
    transition: linear all;

}

nav ul li a:hover ul{
    display: block;

}

nav ul li a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-size: 13pt;
}


.table-div{
    position: relative;
    left: 100px;
    top: 100px;
    height: 300px;
    overflow: scroll;
}









