* {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}
.Top-bar{
    padding-top: 20px;
    padding-left: 30px;
    border-bottom: 1px darkgray solid;
    background: linear-gradient(to bottom, white, #f8f8f8 30%, #e7e5e5);
    height: 55px;
}

h1 {
    color: #5767a8;
}

nav ul li a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    font-size: 13pt;
}

nav {
    padding-top: 20px;
    width: 220px;
    height: 1000px;
    background-color:  #eff1f3;
    box-shadow: 0 -3px 22px  #bec0be;
}