
#body{
    fill-opacity: 1;
    position:relative;

    display:flex;
    flex-flow: row nowrap;
    z-index: 10;
}


.nav-div{
    transition: all 500ms ease;
    width:220px;
    transform: translate3d(-220px, 0, 0);
}
.nav-div-actived {
    transform: translate3d(0, 0, 0);

}

nav {
    padding-top: 20px;
    width: 220px;
    height: 1000px;
    background-color:  #4d98ca;
}


.menu-ul{
    padding: 0;
    list-style: none;
}

.menu-ul li{
    border-bottom: 1px solid #276289;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 45px;
    list-style: none;
}

.menu-ul li:hover{
    background-color: white;
    transition: linear all 0.4s;

}

.menu-ul li a:hover{
    color: black;
    transition: linear all;

}

.menu-ul li a:hover ul{
    display: block;

}

.menu-ul li a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-size: 13pt;
}

.submenu-ul{
    border-bottom: 1px solid #276289;
    padding: 0;
    list-style: none;
}

.submenu-ul li{
    border-bottom: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}






.job-list-ul li:hover{
    background-color: white;
    transition: linear all 0.4s;

}

.job-list-ul li a:hover{
    color: black;
    transition: linear all 0.4s;

}





.submenu-ul li a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-size: 13pt;
}



.job-div{
    transition: all 500ms ease;
    transform: translate3d(-220px, 0, 0);
}


.job-div-actived{
    transform: translate3d(0px, 0, 0);
}




#toggle-button{
    height: 40px;
}

#toggle-button span{
    display:block;
    width:30px;
    height:5px;
    margin: 5px;
    background: #395eb7;
}



#id{
    padding-left:30px;
    font-size: 12pt;
    padding-bottom: 10px;
    box-shadow: 0 5px 5px  #afb4af;
}

#clouds-div{
    height: 680px;
    overflow-y:scroll;
}
.container {
    position: static;
    width: 250px;
}

#GlobalDriver{
    stroke: 3px;
    fill: #48e913;
    fill-opacity: 0.3;
}


path{
    stroke: #bb6113;
    stroke-opacity: 0.7;
    fill-opacity: 0;
    visibility: hidden;
}



.container rect{
    stroke: #9b9798;
    stroke-width: 3px;
}

.out-container rect{
    stroke: #9b9798;
    stroke-width: 3px;
}

.node-rect{
    stroke-dasharray: 10, 5;
    fill: none;
    fill-opacity: 0;
    will-change: transform, stroke-dasharray;
}

.executor-group{
    will-change: transform;
}

.ex-rect{
    fill: none;
    fill-opacity: 0;
    will-change: transform;
}



.cloud-svg{
    transform: translate(100, 100);
}

circle{
    stroke: #9b9798;
    fill: green;
}



#progress-div{
    padding-top: 10px;
    box-shadow: 0 -8px 5px  #afb4af;
}


.progress {
    stroke-opacity: 0;
    fill: green;
}


.table-div{
    display: flex;
}

td{
    width: 100px;
    height: 20px;
}
th{
    width: 100px;
    height: 20px;
}
table{
    margin-left: 10px;
    margin-top: 10px;
    border-collapse: collapse;
}
.shuffle-summary{
    margin-left: 10px;
    margin-top: 10px;
}
.stage-summary{
    margin-left: 10px;
    margin-top: 10px;
}