<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'common.css' )}}" type="text/css">
    <link rel="stylesheet" href="{{url_for("static", filename = "clusters.css" )}}" type="text/css">
    <title>Title</title>
</head>
<body>
    <div class="Top-bar">
        <h1>G-Spark</h1>
    </div>
    <div class="main-body">
        <div id="pop-background">
                    <div id="popupcontent" >
                        <!-- Contact Us Form -->
                        <form action="#" id="form" method="post" name="form">
                            <div style="background-color: #6c7ae0; height: 40px; padding-top: 10px">
                                <text style="color: white;  font-size: 14pt">创建新集群</text>
                            </div>
                        <hr>
                        <div style="padding-top: 30px; text-align: left;">
                            <div style="display: inline-block; padding: 10px">
                                <label for="name">集群名称: </label><input class="input-frame" type="text" id="name" />
                            </div>
                            <div style="display: inline-block; padding: 10px">
                                <label for="ip">主机: </label><input class="input-frame" type="text" id="ip" />
                            </div>
                            <div style="display: inline-block; padding: 10px">
                                <label for="ip">类别: </label><input class="input-frame" type="text" id="ip" />
                            </div>
                        </div>
                        </form>
                        <button   style="display: inline; position: absolute; bottom: 20px; right: 100px" id="submit" >提 交</button>
                        <button  style="display: inline; position: absolute; bottom: 20px; right: 50px" id="close" >关 闭</button>
                    </div>

                </div>

        <div class="nav-div">
            <nav>
            <ul>
                <li class="menu"><a href="/gspark/intro">简 介</a></li>
                <li class="menu"><a href="#">集 群</a></li>
                <li class="menu"><a href="/gspark/jobs/">作 业</a></li>
            </ul>
        </nav>
        </div>
        <div class="main-div">
            <div class="input-div">
               <input id="file"  type="button" name="submit"  value="创建新集群"  onclick="newWindow()">

            </div>
            <div class="table100-div">
                <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">集群名称</th>
                                        <th class="cell100 column2">主机</th>
                                        <th class="cell100 column3">类别</th>
                                        <th class="cell100 column4">等</th>
                                        <th class="cell100 column5">等</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">aaa</td>
                                        <td class="cell100 column2">192.168.1.1</td>
                                        <td class="cell100 column3">bbbbb</td>
                                        <td class="cell100 column4">-----</td>
                                        <td class="cell100 column5">-----</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">aaa</td>
                                        <td class="cell100 column2">192.168.1.1</td>
                                        <td class="cell100 column3">bbbbb</td>
                                        <td class="cell100 column4">-----</td>
                                        <td class="cell100 column5">-----</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">aaa</td>
                                        <td class="cell100 column2">192.168.1.1</td>
                                        <td class="cell100 column3">bbbbb</td>
                                        <td class="cell100 column4">-----</td>
                                        <td class="cell100 column5">-----</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">aaa</td>
                                        <td class="cell100 column2">192.168.1.1</td>
                                        <td class="cell100 column3">bbbbb</td>
                                        <td class="cell100 column4">-----</td>
                                        <td class="cell100 column5">-----</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">aaa</td>
                                        <td class="cell100 column2">192.168.1.1</td>
                                        <td class="cell100 column3">bbbbb</td>
                                        <td class="cell100 column4">-----</td>
                                        <td class="cell100 column5">-----</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">aaa</td>
                                        <td class="cell100 column2">192.168.1.1</td>
                                        <td class="cell100 column3">bbbbb</td>
                                        <td class="cell100 column4">-----</td>
                                        <td class="cell100 column5">-----</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">aaa</td>
                                        <td class="cell100 column2">192.168.1.1</td>
                                        <td class="cell100 column3">bbbbb</td>
                                        <td class="cell100 column4">-----</td>
                                        <td class="cell100 column5">-----</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">aaa</td>
                                        <td class="cell100 column2">192.168.1.1</td>
                                        <td class="cell100 column3">bbbbb</td>
                                        <td class="cell100 column4">-----</td>
                                        <td class="cell100 column5">-----</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>



<script>

   document.getElementById("close").addEventListener("click", close);


    function newWindow() {

        document.getElementById('pop-background').style.display = "block";
    }

    function close() {

        var div = document.getElementById('pop-background');
        console.log(div);
        div.style.display = "none";
    }

</script>
</body>
</html>