<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{url_for("static", filename = "index.css" )}}" type="text/css">
    <title>Title</title>
</head>
<body>
    <div class="Top-bar">
        <h1>G-Spark</h1>
    </div>
    <nav>

        <ul>
            <li class="menu"><a href="/gspark/intro">简 介</a></li>
            <li class="menu"><a href="#">集 群</a></li>
            <li class="menu"><a href="/gspark/jobs/">作 业</a></li>
        </ul>
</body>
</html>