<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css' )}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'common.css' )}}" type="text/css">
    <title>Title</title>
</head>
<body>
    <div class="Top-bar">
        <h1>G-Spark</h1>
    </div>
    <div class="body">
        <nav>
            <ul>
                <li class="menu"><a href="#">简 介</a></li>
                <li class="menu"><a href="/gspark/clusters/">集 群</a></li>
                <li class="menu"><a href="/gspark/applications/">作 业</a></li>
            </ul>
        </nav>
        <div id="intro-div">
            dev branch
        </div>
    </div>
</body>
</html>