<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G-Spark</title>
    <link rel="stylesheet" href="{{url_for("static", filename = "job.css" )}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'common.css' )}}" type="text/css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>
<body>
<div class="Top-bar">
    <h1>G-Spark</h1>
</div>
<div id="body">
    <div class="nav-div">
        <nav id="navigator">

        <ul class="menu-ul">
            <li class="menu"><a href="/gspark/intro">简 介</a></li>
            <li class="memu-li"><a href="/gspark/clusters/">集 群</a></li>
            <li class="memu-li"><a  href="/gspark/jobs">作 业</a></li>
        </ul>
        <ul class="submenu-ul">
            <li class="submenu-li">
                <span class="submenu-span">正在执行</span>
                <ul class="job-list-ul">
                    {% for job in RunningJobs %}
                        <li ><a class="running-job" href="/gspark/jobs/runningjobs/{{ job.id }}">{{ job.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="submenu-ul">
            <li class="submenu-li">
                <span class="submenu-span">历史作业</span>
                <ul class="job-list-ul">
                    {% for job in HistoryJobs %}
                        <li ><a class="history-job" href="/gspark/jobs/historyjobs/{{ job.id }}">{{ job.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

    </nav>
    </div>
    <div class="job-div" >
    <div id="toggle-button" onclick="toggle()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <p id="id">作业编号：{{ jobID }} <input type="button" value="collapse" onclick="foldAll()">
        <input type="button" value="ToSiteDriver" onclick="ToSiteDriver()">
        <input type="button" value="OuterShuffle" onclick="OuterShuffle()">
        <input type="button" value="ToExecutor" onclick="ToExecutor()">
        <input type="button" value="InnerShuffle" onclick="InnerShuffle()">
    </p>
    <div id="clouds-div">
        <svg class="out-container"  height="1000" width="{{ (job.clouds)|length * CloudWidth + ((job.clouds)|length + 2) * 40  }}" >
        {% for cloud in job.clouds %}
            <g class="cloud-svg-group" transform="translate({{ loop.index0 * (CloudWidth + 20) }}, 0)">
                        <g transform="translate(30, 20)">
                            <g id="cloud-{{ cloud.name }}">
                            <g>
                                <rect  id="{{ cloud.name }}" class="cloud-rect" x="0" y="0" rx="15"  ry="15" width="{{ CloudWidth - 15 }}" height="450"
                                    style="fill:blue;fill-opacity:0.1;
                                        stroke-opacity:0.9">
                                </rect>
                                <text x="17" y="30">{{ cloud.name }}</text>
                            </g>
                            <g id="{{ cloud.name }}-master-node">
                        {% if cloud.nodes[0].components|length == 2 %}
                            <g >
                                <rect class="node-rect" x="42.5" y="50" rx="15"  ry="15" width="180" height="180"
                                      style="stroke-opacity:0.9">
                                </rect>
                                <text  transform="translate(30, 170)rotate(-90)">{{ cloud.nodes[0].host }}</text>
                            </g>
                            <g>
                                <rect  id="{{ cloud.nodes[0].components[0] }}" x="57.5" y="60" rx="15"  ry="15" width="150" height="50">
                                </rect>
                                <text x="95" y="85">{{ cloud.nodes[0].components[0] }}</text>
                            </g>
                            <g class="site-master">
                                <rect  id="{{ cloud.nodes[0].components[1] }}" x="57.5" y="170" rx="15"  ry="15" width="150" height="50"
                                    style="fill:blue;fill-opacity:0.1;stroke-opacity:0.9">
                                </rect>
                                <text x="95" y="200">{{ cloud.nodes[0].components[1] }}</text>
                            </g>
                        {% else %}
                            <g>
                                <rect class="node-rect" x="42.5" y="100" rx="15"  ry="15" width="180" height="130"
                                        style="stroke-opacity:0.9">
                                </rect>
                                <text transform="translate(30, 180)rotate(-90)">{{ cloud.nodes[0].host }}</text>
                            </g>
                            <g class="site-master" style="z-index: 1">
                                <rect  id="{{  cloud.nodes[0].components[0] }}" x="57.5" y="170" rx="15"  ry="15" width="150" height="50"
                                    style="fill:blue;fill-opacity:0.1;stroke-opacity:0.9">
                                </rect>
                                <text x="95" y="200">{{ cloud.nodes[0].components[0] }}</text>
                            </g>
                        {% endif %}
                            </g>
                            <g class="normal-nodes" transform="translate(0, 280)" style="z-index: 0">
                                {% for i in range(1, cloud.nodes|length) %}
                                    {% if i % 2 != 0 %}
                                        <g class="left-colum-node" transform="translate(10, {{ (i//2)* 190 }})">
                                    {% else %}
                                        <g class="right-colum-node" transform="translate(155, {{ (i//2-1)* 190 }})">
                                    {% endif %}
                                            <g class="node-group">
                                                <rect  id="{{ cloud.nodes[i].host }}" class="node-rect"  rx="10"  ry="10" width="105" height="150" ></rect>
                                                <text x="6" y="-8">{{ cloud.nodes[i].host }}</text>
                                            </g>
                                            {% for ex in range(cloud.nodes[i].components|length) %}
                                                <g class="executor-group" transform="translate(8, {{ ex * 45 + 10  }})">
                                                    <rect id="{{ cloud.nodes[i].host }}-{{ cloud.nodes[i].components[ex] }}" class="ex-rect"    rx="10"  ry="10" width="85" height="40"
                                                            style="stroke-opacity:0.9"></rect>
                                                    <text x="3" y="20">{{ cloud.nodes[i].components[ex] }}</text>
                                                </g>
                                            {% endfor %}
                                        </g>
                                {% endfor %}
                             </g><!--normal-nodes-->
                            </g>
                            </g><!--translate-->
                            </g><!--cloudsvg-->
            {% endfor %}
        <g class="top-paths"></g>
        <g class="ss-paths"></g>
        <g class="middle-paths"></g>
        <g class="bottom-paths"></g>

    </svg><!--out-cotainner-->
    </div>
    <div id="progress-div">
        <svg   class="progress-svg"  width="100%" height="100">
            <text y="55", x="15">进度: {{ job.progress }}%</text>
            <rect class="progress-bar" x="90" y="40" rx="15"  ry="15" width="1000" height="20"
                style="fill:blue;fill-opacity:0.1;stroke:blue; stroke-opacity:0.9">
            </rect>
            <rect class="progress" x="90" y="40" rx="15"  ry="15" width="{{ job.progress * 10 }}" height="20"
                style="fill:green; stroke:blue; stroke-opacity:0.9">
            </rect>
        </svg>
    </div>
    <div>
        <svg   id="line" height="5">
        <line x1="0" y1="0" x2="100%" y2="0"
              style="stroke:rgb(39, 47, 68);stroke-width:2">
        </line>
        </svg>
    </div>
    <div class="table-div">
        <div style="margin-left: 50px;">
            <p class="stage-summary">Stage 统计</p>
            <table border="1">
                <thead>
                <tr>
                    <th>stageID</th>
                    <th></th>
                    <th>用时</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-left: 50px;">
            <p class="shuffle-summary">Shuffle 统计</p>
            <table border="1">
                <thead>
                <tr>
                    <th>shuffleID</th>
                    <th>数据传输量</th>
                    <th>用时</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script>
    var isFold = 0;
    function toggle() {
        document.getElementsByClassName("nav-div")[0].classList.toggle("nav-div-actived");
        document.getElementsByClassName("job-div")[0].classList.toggle("job-div-actived");
    }
    function foldAll() {
        var time = 800;
        if(isFold === 0){
                isFold = 1;
             d3.selectAll(".node-group").select("rect")
                 .transition()
                 .duration(time)
                 .attr("y", -28)
                 .attr("height", 30)
                .style("stroke-dasharray", 0);
    
             d3.selectAll(".executor-group")
                 .transition()
                 .attr("transform", "translate(0, -35)");
    
             d3.selectAll(".executor-group").selectAll("rect")
                 .transition()
                 .attr("width", 100)
                 .style("visibility", "hidden");
    
             d3.selectAll(".executor-group").selectAll("text")
                 .attr("width", 100)
                 .style("opacity", 0);
    
             d3.selectAll(".normal-nodes").selectAll(".left-colum-node")
                 .transition()
                 .duration(time)
                 .attr("transform", function(d, i){
                     return "translate(10, " + i*40 +")";
                 });
    
             d3.selectAll(".normal-nodes").selectAll(".right-colum-node")
                 .transition()
                 .duration(time)
                 .attr("transform", function(d, i){
                     return "translate(155, " + i*40 +")";
                 });
         }else{
            isFold = 0;
            d3.selectAll(".normal-nodes").selectAll(".node-group").select("rect")
                 .transition()
                 .duration(500)
                 .attr("y", 0)
                 .attr("height", 150)
                .style("stroke-dasharray", 8)
                .on("end", function foo(){
                    d3.selectAll(".normal-nodes").selectAll(".left-colum-node").selectAll(".executor-group")

                 .attr("transform", function (d, i) {
                     return "translate(6, " + (8 + i *45) + ")";
                 });

                    d3.selectAll(".normal-nodes").selectAll(".right-colum-node").selectAll(".executor-group")
                 .attr("transform", function (d, i) {
                     return "translate(7, " + (8 + i *45) + ")";
                 });
                    d3.selectAll(".executor-group").selectAll("rect")
                 .attr("width", 90)
                 .style("visibility", "visible");

                    d3.selectAll(".executor-group").selectAll("text")
                     .attr("x", 8)
                     .style("opacity", 1);
                });

             d3.selectAll(".normal-nodes").selectAll(".left-colum-node")

                 .attr("transform", function(d, i){
                     return "translate(10, " + i*180 +")";
                 });
    
             d3.selectAll(".normal-nodes").selectAll(".right-colum-node")

                 .attr("transform", function(d, i){
                     return "translate(155, " + i*180 +")";
                 });
        }

    }
    function ToSiteDriver() {
        webSocket.emit("ToSiteDriver");
    }
    function OuterShuffle() {
        webSocket.emit("OuterShuffle");
    }
    function ToExecutor() {
        webSocket.emit("ToExecutor");
    }
    function InnerShuffle() {
        webSocket.emit("InnerShuffle");
    }

        //set cloud-rect height to the same value
        var container_svg = document.getElementsByClassName("cloud-svg-group");
        var height_array = new Array(container_svg.length);
        Array.from(container_svg).forEach(function (item, index) {
            var bbox = item.getBBox();
            height_array[index] = bbox.y + bbox.height;
        });
        var max_height = Math.max.apply(Math, height_array);
        Array.from(container_svg).forEach(function (item) {
            var rect = item.getElementsByClassName("cloud-rect").item(0);
            rect.setAttribute("height", (max_height) + "px");
            item.setAttribute("height", max_height + 60 + "px");
        });


        //set width values of top-bar and line to fill the window
        var body = document.getElementsByTagName("body").item(0);
        var out_svg = document.getElementsByClassName("out-container").item(0);
        var nav = document.getElementById("navigator");
        var line = document.getElementById("line");
        var bbox = out_svg.getBBox();
        var nav_width = parseInt(document.defaultView.getComputedStyle(nav, null).getPropertyValue("width"), 10);
        var body_width = parseInt(document.defaultView.getComputedStyle(body, null).getPropertyValue("width"), 10);
        out_svg.setAttribute("height",bbox.y + bbox.height + "px");
        if(body_width > bbox.x + bbox.width + nav_width){
            line.setAttribute("width", body_width  + "px");
        }else{
            line.setAttribute("width", bbox.x + bbox.width  + "px");
        }

        /**
         * get element two elements' width and height, get offset-x and offset-y of the
         * @param ele1 HTMLelement
         * @param ele2  HTMLelement
         * @returns {[number,number,number,number,number,number]} [width1, height1, x, y, width2, height2]
         */
        function getLoc(ele1, ele2){
                    var loc = [0, 0, 0, 0];

                    var ele1Rect = ele1.getBoundingClientRect();
                    var ele2Rect = ele2.getBoundingClientRect();

                    loc[0] = ele1Rect.width;
                    loc[1] = ele1Rect.height;
                    loc[2] = ele2Rect.left - ele1Rect.left;
                    loc[3] = ele2Rect.top - ele1Rect.top;
                    loc[4] = ele2Rect.width;
                    loc[5] = ele2Rect.height;

                    return loc;
                }
        function getColumn(exe) {
            var executor = document.getElementById(exe);
            while(true){
                    if(executor.hasAttribute("class") && executor.getAttribute("class") === "left-colum-node"){
                        return "left"
                        break;
                    }else if(executor.hasAttribute("class") && executor.getAttribute("class") === "right-colum-node"){
                        return "right"
                        break;
                    }else{
                        executor = executor.parentNode;
                    }
                }
        }
        function AddLink(ele, point1, point2, type, pathClassName, circleClassName, width){
            var newpath = document.createElementNS("http://www.w3.org/2000/svg", "path");
            switch(type) {
                case "diagonal-y":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "C" + point1[0] + "," + (point2[1] +  point1[1])/2 +
                                        " " + point2[0] + "," +  point1[1] + " " + point2[0] + "," + point2[1]);
                    break;
                    
                case "diagonal-x":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "C" + (point2[0] +  point1[0])/2 + "," +  point1[1] +
                                        " " + point1[0] + "," + point2[1] + " " + point2[0] + "," + point2[1]);
                    break;

                case "horizontal-up":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "Q" + (point2[0] +  point1[0])/2 + "," + (point2[1] - Math.abs(point1[0] - point2[0])/8) +
                                        " " +  point2[0] + "," + point2[1]);
                    break;

                case "horizontal-bottom":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "Q" + (point2[0] +  point1[0])/2 + "," + (point2[1] + 10) +
                                        " " +  point2[0] + "," + point2[1]);
                    break;


                case "vertical-left":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "Q" + (point1[0] - Math.abs(point1[1] - point2[1])/2) + "," + (point1[1] +  point2[1])/2 +
                                        " " +  point2[0] + "," + point2[1]);
                    break;
                    
                case "vertical-right":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "Q" + (point1[0] + Math.abs(point1[1] - point2[1])/2) + "," + (point1[1] +  point2[1])/2 +
                                        " " +  point2[0] + "," + point2[1]);
                    break;
            }
            newpath.setAttribute("class", pathClassName);
            if(width){
                newpath.setAttribute("stroke-width", width);
            }
            ele.appendChild(newpath);

            if(circleClassName){
                var newcircle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                newcircle.setAttribute("cx", point1[0]);
                newcircle.setAttribute("cy", point1[1]);
                newcircle.setAttribute("class", circleClassName);
                ele.appendChild(newcircle);
            }
        }
        function PathsGrow(PathsClassName, time){
        var paths = document.getElementsByClassName(PathsClassName);
        var classname = "." + PathsClassName;

        Array.from(paths).forEach(function (path, index, a) {
            var totalLength = path.getTotalLength();
            path.setAttribute("stroke-dasharray", totalLength + " " + totalLength);
            path.setAttribute("stroke-dashoffset", totalLength );
            path.style.visibility = "visible";

        });

        d3.selectAll(classname)
            .transition()
            .duration(time)
            .attr("stroke-dashoffset", 0)
            .remove();


    }
        function circleMove(PathClass, CircleClass, time) {
            var paths = document.getElementsByClassName(PathClass);
            console.log(arguments.callee.name + ": " + arguments[0] + ", "+ arguments[1] + ", "+ arguments[2]);
            d3.selectAll("." + CircleClass)
                .attr("r", 4)
                .transition()
                .duration(time)
                .attrTween("cx", function (d, i, a) {
                    var len = paths[i].getTotalLength();
                    return function (t) {
                        var p = paths[i].getPointAtLength((t) * len);
                        return p.x;
                    };
                })
                .attrTween("cy", function (d, i, a) {
                    var len = paths[i].getTotalLength();
                    return function (t) {
                        var p = paths[i].getPointAtLength((t) * len);
                        return p.y;
                    };
                })
                .remove()
                .attr("start",  PathsGrow(PathClass, time));


        }

        function connectGlobalToSite(SiteArray){
            var pathClass = "p" + Date.now();
            var circleClass ="c" + Date.now();


            var sites = SiteArray;
            var outcontainer = document.getElementsByClassName("out-container")[0];
            var pg = document.getElementsByClassName("top-paths")[0];


            var GlobalDriver = document.getElementById("GlobalDriver");

            var Gout = getLoc(outcontainer,GlobalDriver);
            var GlobalLoc = [Gout[2] + Gout[4]/2, Gout[3] + Gout[5]];

            sites.forEach(function(item, index, array){
                var temp = document.getElementById(item[0]);
                var loc = getLoc(outcontainer, temp);
                var p2 = [loc[2] + loc[4]/2, loc[3]];
                AddLink(pg, GlobalLoc, p2, "diagonal-y",pathClass, circleClass,item[1]);
            });

            return [pathClass, circleClass];

    }
        function connectSiteToEx(siteId, exArr) {
            var pathClass = "p" + Date.now();
            var circleClass = "c" + Date.now();

            var path_g = document.getElementsByClassName("middle-paths")[0];
            var site = document.getElementById(siteId);
            var std = document.getElementsByClassName("out-container")[0];
            var pos = getLoc(std,site);

            for(var i = 0; i < exArr.length; i++){
                //var newcircle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

                //newcircle.setAttribute("cx", pos[2] + pos[4]/2);
                //newcircle.setAttribute("cy", pos[3] + pos[5]);
                //newcircle.setAttribute("r", "0");
                //newcircle.setAttribute("class","middle-circle" );
                var executor = document.getElementById(exArr[i][0]);
                var pos2 = getLoc(std, executor);

                while(true){

                    if(executor.hasAttribute("class") && executor.getAttribute("class") === "left-colum-node" || executor.getAttribute("class") === "left-colum-node left-colum-node-active"){
                        AddLink(path_g,[pos[2] + pos[4]/2, pos[3] + pos[5]], [pos2[2] + pos2[4], pos2[3] + pos2[5]/2], "diagonal-x", pathClass,circleClass, exArr[i][1]);
                        break;
                    }else if(executor.hasAttribute("class") && executor.getAttribute("class") === "right-colum-node"|| executor.getAttribute("class") === "right-colum-node right-colum-node-active"){
                        AddLink(path_g,[pos[2] + pos[4]/2, pos[3] + pos[5]], [pos2[2], pos2[3] + pos2[5]/2],"diagonal-x", pathClass,circleClass,exArr[i][1]);
                        break;
                    }else{
                        executor = executor.parentNode;
                    }
                }


            }
            return [pathClass, circleClass];
        }
        function innerShuffle(ex, exArr){
            var pathClass = "p" + Date.now();
            var circleClass =  "c" + Date.now();

            var exe = document.getElementById(ex);
            var path_g = document.getElementsByClassName("bottom-paths")[0];

            var std = document.getElementsByClassName("out-container")[0];
            var pos1 = getLoc(std,exe);
            var col1 = getColumn(ex);

            for(var i = 0; i < exArr.length; i++){

                var col2 = getColumn(exArr[i][0]);
                var exe1 = document.getElementById(exArr[i][0]);
                var pos2 = getLoc(std,exe1);
                if(col1 === "left"){
                    var p1 = [pos1[2] + pos1[4], pos1[3] + pos1[5]/2];
                    if(col2 === "left"){
                        var p2 = [pos2[2] + pos2[4], pos2[3] + pos2[5]/2];
                        AddLink(path_g, p2, p1, "vertical-right", pathClass,circleClass, exArr[i][1]);
                    }else{
                        var p2 = [pos2[2], pos2[3] + pos2[5]/2];
                        AddLink(path_g, p2, p1, "diagonal-x", pathClass,circleClass, exArr[i][1]);
                    }
                }else{
                    var p1 = [pos1[2], pos1[3] + pos1[5]/2];
                    if(col2 === "left"){
                        var p2 = [pos2[2] + pos2[4], pos2[3] + pos2[5]/2];
                        AddLink(path_g, p2, p1, "diagonal-x", pathClass,circleClass,exArr[i][1]);
                    }else{
                        var p2 = [pos2[2], pos2[3] + pos2[5]/2];
                        AddLink(path_g, p2, p1, "vertical-left", pathClass,circleClass,exArr[i][1]);
                    }
                }
            }
            return [pathClass, circleClass];

        }
        function outerShuffle(site, siteArr) {
            var pathClass = "p" + Date.now();
            var circleClass = "c" + Date.now();

            console.log(site);

            var thesite = document.getElementById(site);
            var path_g = document.getElementsByClassName("ss-paths")[0];
            var std = document.getElementsByClassName("out-container")[0];
            var pos1 = getLoc(std, thesite);

            for (var i = 0; i < siteArr.length; i++) {
                var site1 = document.getElementById(siteArr[i][0]);
                var pos2 = getLoc(std, site1);
                var p1 = [pos1[2] + pos1[4] / 2, pos1[3]];
                var p2 = [pos2[2] + pos2[4] / 2, pos2[3]];
                AddLink(path_g, p2, p1, "horizontal-up", pathClass,circleClass,siteArr[i][1]);
            }
            return [pathClass, circleClass];
        }

        var webSocket = io.connect("http://192.168.3.116:5000");

        webSocket.on("connect", function () {
                console.log("connected");
        });

        webSocket.on("event", function (data) {
            console.log(data);
        });

        webSocket.on("GS", function (data) {
            console.log(data);
            var c = connectGlobalToSite(data);
            circleMove(c[0], c[1], 2000);
        });

        webSocket.on("SS", function (data) {

            var c = outerShuffle(data.site, data.site_array);
            circleMove(c[0], c[1], 2000);
        });

        webSocket.on("SE", function (data) {
            var c = connectSiteToEx(data.site, data.executors);
            circleMove(c[0], c[1], 2000);
            });
        webSocket.on("EE", function (data) {

            var c = innerShuffle(data.exe, data.executors);
            circleMove(c[0], c[1], 2000);
            });
    </script>

</body>
</html>