<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G-Spark</title>
    <link rel="stylesheet" href="{{url_for("static", filename = "applicationv0.1.css" )}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'common.css' )}}" type="text/css">
    <script src="{{ url_for('static', filename = 'http_d3js.org_d3.v4.js' )}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>

</head>
<body>
<div class="Top-bar">
    <h1>G-Spark</h1>
</div>
<div id="body">
    <div class="nav-div">
        <nav id="navigator">

        <ul class="menu-ul">
            <li class="menu"><a href="/gspark/intro">简 介</a></li>
            <li class="memu-li"><a href="/gspark/clusters/">集 群</a></li>
            <li class="memu-li"><a  href="/gspark/applications/">作 业</a></li>
        </ul>
    </nav>
    </div>
    <div class="job-div" >
    <div class="toggle-button" onclick="toggle()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="main-div">
        <svg version="1.1"   width="1000" height="1000" xmlns="http://www.w3.org/2000/svg" id="bg-svg">

        </svg>
        <div class="cloud-div" id="cloud-1">
            <div class="drivers-div">
            </div>
            <div class="workers-div">
            </div>
        </div>

        <div class="cloud-div">
            <div class="drivers-div">
            </div>
            <div class="workers-div">
                <div class="worker-div" id="worker2" onclick="collapse(event)">
                    <div class="executor-div" >
                    </div>
                    <div class="executor-div">
                    </div>
                    <div class="executor-div">
                    </div>
                </div>
                <div class="worker-div" onclick="collapse(event)">
                    <div class="executor-div">
                    </div>
                    <div class="executor-div">
                    </div>
                    <div class="executor-div">
                    </div>
                </div>
                <div class="worker-div">
                    <div class="executor-div">
                    </div>
                    <div class="executor-div">
                    </div>
                    <div class="executor-div">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div id="start-button-div">

        </div>

        <div id="progress-div">
            <div id="button-div">
                <div class="stop-button" onclick="startToggle()">
                </div>
            </div>
            <input id="time-line" type="range" min="0" max="100" step="1"  onchange="sendReplay(this.value)" oninput="output(this.value)">
            <span id="time-line-value"></span>
        </div>
    </div>
    <div class="table-title">
        <p class="stage-summary">Job 统计</p>
    </div>
    <div class="table-div" id="job-info">
        <table border="1" id="jobs-table">
            <thead>
                <tr>
                    <th class="job-id">jobID</th>
                    <th class="submit-time">提交时间</th>
                    <th class="complete-time">完成时间</th>
                    <th class="time-cost">用时</th>
                    <th class="stage-list">stagesList</th>
                    <th class="stage-num">numOfStages</th>
                    <th class="status">status</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
     <div class="table-title">
        <p class="stage-summary">Stage 统计</p>
    </div>
    <div class="table-div" id="stage-info">
        <table border="1" id="stages-table">
            <thead>
                <tr>
                    <th class="stage-id">stageID</th>
                    <th class="stage-input">input</th>
                    <th class="stage-output">output</th>
                    <th class="shuffle-read">shuffleRead</th>
                    <th class="shuffle-write">shuffleWrite</th>
                    <th class="time-cost">用时</th>
                    <th class="stage-name">stageName</th>
                    <th class="task-num">numOfTasks</th>
                    <th class="status">status</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="table-title">
        <p class="shuffle-summary">Shuffle 统计</p>
    </div>
    <div class="table-div" id="shuffle-info">
        <table border="1" id="shuffles-table">
            <thead>
                <tr>
                    <th class="shuffle-id">shuffleID</th>
                    <th class="trans-size">数据传输量</th>
                    <th class="time-cost">用时</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
</div>
<script>
{#    addExecutor("testname","localhost");#}

        let isFold = 0;
        let jobSubTime = [];
        let isStopped = 0;

        function toggle() {
        document.getElementsByClassName("nav-div")[0].classList.toggle("nav-div-actived");
        document.getElementsByClassName("toggle-button")[0].classList.toggle("toggle-button-actived");
    }
        function startToggle() {
            var timeLine = document.getElementById("time-line");
            if (isStopped === 0) {
                document.getElementsByClassName("stop-button")[0].className = "start-button";

                isStopped = 1;
            } else {
                document.getElementsByClassName("start-button")[0].className = "stop-button";
                webSocket.emit("clearstopped");
                isStopped = 0;

            }
        }
        function output(d) {
            document.getElementById("time-line-value").innerHTML = d;
        }

        function ToSiteDriver() {
            webSocket.emit("ToSiteDriver");
        }
        function OuterShuffle() {
            webSocket.emit("OuterShuffle");
        }
        function ToExecutor() {
            webSocket.emit("ToExecutor");
        }
        function InnerShuffle() {
            webSocket.emit("InnerShuffle");
        }


        /**
         * get element two elements' width and height, get offset-x and offset-y of the
         * @param ele1 HTMLelement
         * @param ele2  HTMLelement
         * @returns {[number,number,number,number,number,number]} [width1, height1, x, y, width2, height2]
         */
        function getLoc(ele1, ele2){
                    var loc = [0, 0, 0, 0];

                    var ele1Rect = ele1.getBoundingClientRect();
                    var ele2Rect = ele2.getBoundingClientRect();

                    loc[0] = ele1Rect.width;
                    loc[1] = ele1Rect.height;
                    loc[2] = ele2Rect.left - ele1Rect.left;
                    loc[3] = ele2Rect.top - ele1Rect.top;
                    loc[4] = ele2Rect.width;
                    loc[5] = ele2Rect.height;

                    return loc;
                }
        function getColumn(exe, cloudId='cloud-1') {
            var cloud = document.getElementById(cloudId);
            var pos = getLoc(cloud, exe);

            if(pos[2] < pos[4]){
                return "left"
            }else {
                return "right"
            }
        }
        function AddLink(ele, point1, point2, type, pathClassName, circleClassName, width){
            var newpath = document.createElementNS("http://www.w3.org/2000/svg", "path");
            switch(type) {
                case "diagonal-y":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "C" + point1[0] + "," + (point2[1] +  point1[1])/2 +
                                        " " + point2[0] + "," +  point1[1] + " " + point2[0] + "," + point2[1]);
                    break;
                    
                case "diagonal-x":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "C" + (point2[0] +  point1[0])/2 + "," +  point1[1] +
                                        " " + point1[0] + "," + point2[1] + " " + point2[0] + "," + point2[1]);
                    break;

                case "horizontal-up":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "Q" + (point2[0] +  point1[0])/2 + "," + (point2[1] - Math.abs(point1[0] - point2[0])/8) +
                                        " " +  point2[0] + "," + point2[1]);
                    break;

                case "horizontal-bottom":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "Q" + (point2[0] +  point1[0])/2 + "," + (point2[1] + 10) +
                                        " " +  point2[0] + "," + point2[1]);
                    break;


                case "vertical-left":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "Q" + (point1[0] - Math.abs(point1[1] - point2[1])/2) + "," + (point1[1] +  point2[1])/2 +
                                        " " +  point2[0] + "," + point2[1]);
                    break;
                    
                case "vertical-right":
                    newpath.setAttribute("d", "M" + point1[0] + "," + point1[1] + "Q" + (point1[0] + Math.abs(point1[1] - point2[1])/2) + "," + (point1[1] +  point2[1])/2 +
                                        " " +  point2[0] + "," + point2[1]);
                    break;
            }
            newpath.setAttribute("class", pathClassName);
            if(width){
                newpath.setAttribute("stroke-width", width);
            }
            ele.appendChild(newpath);

            if(circleClassName){
                var newcircle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                newcircle.setAttribute("cx", point1[0]);
                newcircle.setAttribute("cy", point1[1]);
                newcircle.setAttribute("class", circleClassName);
                ele.appendChild(newcircle);
            }
        }
        function PathsGrow(PathsClassName, time){
        var paths = document.getElementsByClassName(PathsClassName);
        var classname = "." + PathsClassName;

        Array.from(paths).forEach(function (path, index, a) {
            var totalLength = path.getTotalLength();
            path.setAttribute("stroke-dasharray", totalLength + " " + totalLength);
            path.setAttribute("stroke-dashoffset", totalLength );
            path.style.visibility = "visible";

        });

        d3.selectAll(classname)
            .transition()
            .duration(time)
            .attr("stroke-dashoffset", 0);


    }
        function circleMove(PathClass, CircleClass, time) {
            var paths = document.getElementsByClassName(PathClass);
            console.log(arguments.callee.name + ": " + arguments[0] + ", "+ arguments[1] + ", "+ arguments[2]);
            d3.selectAll("." + CircleClass)
                .attr("r", 4)
                .transition()
                .duration(time)
                .attrTween("cx", function (d, i, a) {
                    var len = paths[i].getTotalLength();
                    return function (t) {
                        var p = paths[i].getPointAtLength((t) * len);
                        return p.x;
                    };
                })
                .attrTween("cy", function (d, i, a) {
                    var len = paths[i].getTotalLength();
                    return function (t) {
                        var p = paths[i].getPointAtLength((t) * len);
                        return p.y;
                    };
                })
                .attr("start",  PathsGrow(PathClass, time));


        }

        function connectGlobalToSite(SiteArray){
            var pathClass = "p" + Date.now();
            var circleClass ="c" + Date.now();


            var sites = SiteArray;
            var outcontainer = document.getElementsByClassName("out-container")[0];
            var pg = document.getElementsByClassName("top-paths")[0];


            var GlobalDriver = document.getElementById("GlobalDriver");

            var Gout = getLoc(outcontainer,GlobalDriver);
            var GlobalLoc = [Gout[2] + Gout[4]/2, Gout[3] + Gout[5]];

            sites.forEach(function(item, index, array){
                var temp = document.getElementById(item[0]);
                var loc = getLoc(outcontainer, temp);
                var p2 = [loc[2] + loc[4]/2, loc[3]];
                AddLink(pg, GlobalLoc, p2, "diagonal-y",pathClass, circleClass,item[1]);
            });

            return [pathClass, circleClass];

    }
        function connectSiteToEx(siteId, dstHosts) {
            var pathClass = "p" + Date.now();
            var circleClass = "c" + Date.now();
            var site = document.getElementById(siteId);
            var std = document.getElementById('bg-svg');
            var pos = getLoc(std,site);
            console.log(dstHosts[0]);
            console.log(dstHosts[0]["to-components"]);
            console.log(dstHosts[0]["to-components"][0]["to-component"]);
            for(var i = 0; i < dstHosts.length; i++){
                for(var j = 0; j < dstHosts[i]["to-components"].length; j++){
                    var exeId = dstHosts[i]["to-components"][j]["to-component"];
                    var executor = document.getElementById(exeId);
                    var pos2 = getLoc(std, executor);
                    var side = getColumn(executor);
                    console.log(dstHosts[i]["to-components"][j]);
                    if(side === 'left'){
                        AddLink(std,[pos[2] + pos[4]/2, pos[3] + pos[5]], [pos2[2] + pos2[4], pos2[3] + pos2[5]/2], "diagonal-x", pathClass,circleClass, dstHosts[i]["to-components"][j]["tasks"].length);
                        break;
                    }else {
                        AddLink(std, [pos[2] + pos[4] / 2, pos[3] + pos[5]], [pos2[2], pos2[3] + pos2[5] / 2], "diagonal-x", pathClass, circleClass, dstHosts[i]["to-components"][j]["tasks"].length);
                        break;
                    }
                }
            }
            return [pathClass, circleClass];
        }

        function innerShuffle(ex, exArr){
            var pathClass = "p" + Date.now();
            var circleClass =  "c" + Date.now();

            var exe = document.getElementById(ex);
            var path_g = document.getElementsByClassName("bottom-paths")[0];

            var std = document.getElementsByClassName("out-container")[0];
            var pos1 = getLoc(std,exe);
            var col1 = getColumn(ex);

            for(var i = 0; i < exArr.length; i++){

                var col2 = getColumn(exArr[i][0]);
                var exe1 = document.getElementById(exArr[i][0]);
                var pos2 = getLoc(std,exe1);
                if(col1 === "left"){
                    var p1 = [pos1[2] + pos1[4], pos1[3] + pos1[5]/2];
                    if(col2 === "left"){
                        var p2 = [pos2[2] + pos2[4], pos2[3] + pos2[5]/2];
                        AddLink(path_g, p2, p1, "vertical-right", pathClass,circleClass, exArr[i][1]);
                    }else{
                        var p2 = [pos2[2], pos2[3] + pos2[5]/2];
                        AddLink(path_g, p2, p1, "diagonal-x", pathClass,circleClass, exArr[i][1]);
                    }
                }else{
                    var p1 = [pos1[2], pos1[3] + pos1[5]/2];
                    if(col2 === "left"){
                        var p2 = [pos2[2] + pos2[4], pos2[3] + pos2[5]/2];
                        AddLink(path_g, p2, p1, "diagonal-x", pathClass,circleClass,exArr[i][1]);
                    }else{
                        var p2 = [pos2[2], pos2[3] + pos2[5]/2];
                        AddLink(path_g, p2, p1, "vertical-left", pathClass,circleClass,exArr[i][1]);
                    }
                }
            }
            return [pathClass, circleClass];

        }
        function outerShuffle(site, siteArr) {
            var pathClass = "p" + Date.now();
            var circleClass = "c" + Date.now();

            console.log(site);

            var thesite = document.getElementById(site);
            var path_g = document.getElementsByClassName("ss-paths")[0];
            var std = document.getElementsByClassName("out-container")[0];
            var pos1 = getLoc(std, thesite);

            for (var i = 0; i < siteArr.length; i++) {
                var site1 = document.getElementById(siteArr[i][0]);
                var pos2 = getLoc(std, site1);
                var p1 = [pos1[2] + pos1[4] / 2, pos1[3]];
                var p2 = [pos2[2] + pos2[4] / 2, pos2[3]];
                AddLink(path_g, p2, p1, "horizontal-up", pathClass,circleClass,siteArr[i][1]);
            }
            return [pathClass, circleClass];
        }


        {#事件处理函数#}
        function collapse(event) {
        console.log(event);
        if(event.target.className === "executor-div" || event.target.className === "executor-div worker-div-active" ){
            event.target.parentNode.classList.toggle("worker-div-active");
        }else{
            event.target.classList.toggle("worker-div-active");
        }

    }
        function addWorker(host, cloud) {
        var workerDiv = document.createElement("div");
        workerDiv.className = "worker-div";
        workerDiv.id = host;
        workerDiv.addEventListener("click", collapse);
        let workerTag = document.createElement("div");
        workerTag.className = "worker-tag-div";
        workerTag.innerHTML =
            "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"36\" height=\"36\" viewBox=\"0 0 72 80\">\n" +
            "<circle cy=\"37.45\" cx=\"36.972\" r=40% />\n" +
            "<path d=\"m18.64 23.492h6.4c3.68 15.72 4.04 17.72 4.56 21h0.08c0.52-3 0.96-5.92 4-21h6.359c3.36 15.76 3.641 17.28 4.28 21h0.08c0.48-2.721 0.96-5.2 4.68-21h6.08l-8.08 28.72h-5.76c-2.96-14.08-3.479-16.88-4.44-22.4h-0.079c-0.88 5.52-1.36 7.6-4.44 22.4h-5.6l-8.12-28.72z\" />\n" +
            "</svg>";
        var shortHost = host.split('.')[0];
        var txt = document.createTextNode(shortHost);
        workerDiv.appendChild(workerTag);
        workerDiv.appendChild(txt);

        if (typeof cloud === 'undefined'){
            var currCloud = document.getElementById("cloud-1");
        }else{
           currCloud = document.getElementById(cloud);
        }
        var workers = currCloud.getElementsByClassName("workers-div")[0];
        workers.appendChild(workerDiv);
        return workerDiv;
    }
        function addExecutor(execName, host, finishNum, totalNum){
            var workerDiv = document.getElementById(host);
            var newExec = document.createElement("div");
            newExec.className = "executor-div";
            newExec.id = host + '-' + execName;

            var execTagDiv = document.createElement("div");
            execTagDiv.className = "executor-tag-div";
            execTagDiv.innerHTML = "<svg version=\"1.1\" width=\"25\" height=25  xmlns=\"http://www.w3.org/2000/svg\">\n" +
                "    <circle cx=50% cy=50% r=44% />\n" +
                "    <path d=\"M7 5h10v3h-7v3h7v3h-7v3h7v3h-10z\" fill=\"green\"/>\n" +
                "  </svg>";

            var execProDiv = document.createElement("div");
            execProDiv.className = 'execProgress';

            var finNumOfTasksP = document.createElement("span");
            finNumOfTasksP.className = 'finNum';
            finNumOfTasksP.innerText =  finishNum || '0';
            var toltalNumOfTasksP = document.createElement("span");
            toltalNumOfTasksP.className = 'totalNum';
            toltalNumOfTasksP.innerText = totalNum || '0';

            var splitText = document.createElement("span");
            splitText.innerText = '/';

{#            newExec.appendChild(execProDiv);#}
            newExec.appendChild(execTagDiv);
            newExec.appendChild(finNumOfTasksP);
            newExec.appendChild(splitText);
            newExec.appendChild(toltalNumOfTasksP);


            if (workerDiv === null){
                var newWorker = addWorker(host);
                newWorker.appendChild(newExec);
            }else{
                workerDiv.appendChild(newExec);
            }
    }
        function addGlobalMaster(event) {
{#            var host = event["Block Manager ID"]["Host"];#}
            var cl = document.getElementById('cloud-1');
            var drsDiv = cl.getElementsByClassName("drivers-div")[0];
            var globalDiv = document.createElement("div");
            let drTag = document.createElement("div");
            drTag.className = "global-tag-div";
            drTag.innerHTML = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"36\" height=\"36\" viewBox=\"0 0 72 72\">\n" +
                "<circle cy=\"37.45\" cx=\"36.972\" r=\"28.563\" />\n" +
                "<path d=\"m38.83 36.331h12v15.48h-4l-0.6-3.6c-1.52 1.76-3.72 4.359-8.96 4.359-6.92 0-13.2-4.96-13.2-15.04 0-7.84 4.36-15.24 14.04-15.2 8.8 0 12.28 5.72 12.601 9.68h-6c0-1.12-2.04-4.72-6.28-4.72-4.28 0-8.24 2.96-8.24 10.32 0 7.84 4.28 9.88 8.36 9.88 1.32 0 5.72-0.52 6.96-6.319h-6.681v-4.84z\" />\n" +
                "</svg>";
            var txt = document.createTextNode("Global Master");
            globalDiv.className = "global-master-div";
            globalDiv.id = "Global Master";
            globalDiv.appendChild(drTag);
            globalDiv.appendChild(txt);
            drsDiv.appendChild(globalDiv);
        }
        function addDriver(event, hostId) {
            addGlobalMaster();
            var host = hostId || event["Block Manager ID"]["Host"];
            var cl = document.getElementById('cloud-1');
            var drsDiv = cl.getElementsByClassName("drivers-div")[0];
            var drDiv = document.createElement("div");
            let drTag = document.createElement("div");
            drTag.className = "driver-tag-div";
            drTag.innerHTML = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"36\" height=\"36\" viewBox=\"0 0 72 72\">\n" +
                "<circle cy=\"37.45\" cx=\"36.972\" r=\"28.563\" />\n" +
                "<path d=\"m26.958 23.09h12.68c9.681 0 11.681 8.24 11.681 13.68 0 6.16-2.44 15.04-11.921 15.04h-12.44v-28.72zm5.88 23.76h5.84c4.88 0 6.521-4.92 6.521-9.64 0-8.48-4.04-9.16-6.6-9.16h-5.76v18.8h-0.001z\" />\n" +
                "</svg>";
            var txt = document.createTextNode(host);
            drDiv.className = "driver-div";
            drDiv.id = host;
            drDiv.appendChild(drTag);
            drDiv.appendChild(txt);
            drsDiv.appendChild(drDiv);
        }
        function startJob(event) {
            addInfoToTable('jobInfo' ,event);

        }
        function submitStage(event) {
            addInfoToTable('stageInfo', event["Stage Info"]);
            var jobId = getJobId(event["Stage Info"]["Stage ID"]);
            updateTableStatus("job", jobId, 0, 1);
        }
        function startTask(event){
            updateTaskNum(event['Task Info']['Host'], event['Task Info']['Executor ID'], 1, 1);
            updateTableStatus("stage", event['Stage ID'], 0, 1);
        }
        function endTask(event){
            updateTaskNum(event['Task Info']['Host'], event['Task Info']['Executor ID'], -1, 0);
            updateTableStatus("stage", event['Stage ID'], 1, -1);
        }
        function stageCompleted(event) {
            let suffix = ['Bytes', 'KB', 'MB', 'GB'];
            let input, output, read, written, index;
            for(let kv of event["Stage Info"]["Accumulables"]){
                switch(kv["Name"]){
                    case "internal.metrics.input.bytesRead":
                        if(kv["Value"] === 0){
                            input = '-';
                            break;
                        }
                        index = Math.floor(Math.log(parseInt(kv["Value"]))/Math.log(1024));
                        input = (parseInt(kv["Value"]) / Math.pow(1024, index)).toFixed(2) + suffix[index];
                        console.log(index);
                        console.log(input);
                        break;
                    case "internal.metrics.output.bytesWritten":
                        if(kv["Value"] === 0){
                            output = '-';
                            break;
                        }
                        index = Math.floor(Math.log(parseInt(kv["Value"]))/Math.log(1024));
                        output = (parseInt(kv["Value"]) / Math.pow(1024, index)).toFixed(2) + suffix[index];
                        break;
                    case "internal.metrics.shuffle.read.remoteBytesRead":
                        if(kv["Value"] === 0){
                            read = '-';
                            break;
                        }
                        console.log(kv["Value"]);
                        index = Math.floor(Math.log(parseInt(kv["Value"]))/Math.log(1024));
                        read = (parseInt(kv["Value"]) / Math.pow(1024, index)).toFixed(2) + suffix[index];
                        break;
                    case "internal.metrics.shuffle.write.bytesWritten":
                        if(kv["Value"] === 0){
                            written = '-';
                            break;
                        }
                        index = Math.floor(Math.log(parseInt(kv["Value"]))/Math.log(1024));
                        written = (parseInt(kv["Value"]) / Math.pow(1024, index)).toFixed(2) + suffix[index];
                        break;
                }
            }
            var jobId = getJobId(event["Stage Info"]["Stage ID"]);
            var subTime = event["Stage Info"]["Submission Time"];
            var endTime = event["Stage Info"]["Completion Time"];
            var cost = endTime - subTime;
            var ms = cost % 1000;
            var sec = Math.floor(cost / 1000) % 60;
            var min = Math.floor(cost / 1000 / 60);
            var val = `${min}min: ${sec}sec: ${ms}ms`;
            updateTableStatus("job", jobId, 1, -1);
            updateTableTime("stages-table", event["Stage Info"]["Stage ID"], "input", input);
            updateTableTime("stages-table", event["Stage Info"]["Stage ID"], "output", output);
            updateTableTime("stages-table", event["Stage Info"]["Stage ID"], "shuffleRead", read);
            updateTableTime("stages-table", event["Stage Info"]["Stage ID"], "shuffleWrite", written);
            updateTableTime("stages-table", event["Stage Info"]["Stage ID"], "用时", val);
        }
        function jobEnd(event) {

            let subTime = jobSubTime[event["Job ID"]];
            let endTime = event["Completion Time"];
            let cost = endTime - subTime;
            let ms = cost % 1000;
            let sec = Math.floor(cost / 1000) % 60;
            let min = Math.floor(cost / 1000 / 60);
            let val = `${min}min: ${sec}sec: ${ms}ms`;
            updateTableTime("jobs-table", event["Job ID"], "完成时间",(new Date(endTime).toLocaleString()));
            updateTableTime("jobs-table", event["Job ID"], "用时",val);
        }
        function appEnd(event){
            return 0;
        }



        {#事件处理辅助函数#}
        function addInfoToTable(infoType, info) {
            var tr = document.createElement("tr");
            switch(infoType){
                case 'stageInfo':
                    tr.id = "tr-stage-" +  info['Stage ID'];
                    var tb = document.getElementById("stages-table");
                    var status = document.createElement("div");
                    status.id = "stage-status-" + info['Stage ID'];
                    status.className = "td-status";
                    status.innerHTML = "<span>0</span>/" + "<span>0</span>";
                    var infoList = [ info['Stage ID'],  '-', '-',
                        '-', '-', '-',  info['Stage Name'],
                        info['Number of Tasks']];
                    break;
                case 'jobInfo':
                    tr.id = 'tr-job-' + info['Job ID'];
                    tb = document.getElementById("jobs-table");
                    var m = parseInt(info['Submission Time']);
                    jobSubTime[info['Job ID']] = m;
                    var d = new Date(m);
                    var ds = d.toLocaleString();
                    var stageList = [];
                    for(var i = 0; i < (info['Stage Infos']).length; i++){
                        stageList.push(info['Stage Infos'][i]['Stage ID']);
                    }
                    var status = document.createElement("div");
                    status.id = "job-status-" + info['Job ID'];
                    status.className = 'td-status';
                    status.innerHTML = "<span id=\"running-num\">0</span>/" + "<span>0</span>";
                    infoList = [info['Job ID'], ds, '-', '-', stageList.join(','), (info['Stage Infos']).length];
                    break;
                case 'shuffleInfo':
                    tr.id = 'tr-shuffle-' + info['Stage ID'];
                    var status = null;
                    tb = document.getElementById("shuffles-table");
                    infoList = [info['Stage ID'], info['Stage Name'], info['Number of Tasks']];
            }

            var tbody = tb.getElementsByTagName('tbody')[0];



            for(var i in infoList ){
                var td = document.createElement("td");
                var textNode = document.createTextNode(infoList[i]);
                td.appendChild(textNode);
                tr.appendChild(td);
            }

            if(status !== null){
                tr.appendChild(status);
            }

            tbody.appendChild(tr);

        }
        function updateTaskNum(hostId, execId, runAdd, totalAdd){

            var exec = document.getElementById(hostId + '-' + execId);

            var runNumSpan = exec.getElementsByClassName('finNum')[0];
            var totalNumSpan = exec.getElementsByClassName('totalNum')[0];
            var oldVal1 = Number(runNumSpan.innerText);
            var oldVal2 = Number(totalNumSpan.innerText);
            runNumSpan.innerText = oldVal1 + runAdd;
            totalNumSpan.innerText = oldVal2 + totalAdd;
        }
        function updateTableStatus(tableName, rIndex, c, r) {
            let index;
            let tId = tableName + "s-table";
            let tb = document.getElementById(tId);
            for(let i = 0; i < tb.rows[0].cells.length; i++){
                if(tb.rows[0].cells[i].innerHTML === 'status') {
                    index = i;
                    break;
                }
            }


            var statusId = tableName + "-status-" + rIndex;
            console.log(statusId);
            var statusDiv = document.getElementById(statusId);
            var trId = "tr-" + tableName + '-' + rIndex;
            console.log(trId);
            var tr = document.getElementById(trId);

            var total = parseInt(tr.cells[index-1].innerText);
            var v1 = parseInt(statusDiv.firstElementChild.innerText) + c;
            var v2 = parseInt(statusDiv.lastElementChild.innerText) + r;
            statusDiv.firstElementChild.innerText = v1;
            statusDiv.lastElementChild.innerText = v2;

            var comp = Math.ceil(v1 / total * 100);
            var run = Math.ceil((v1 + v2) / total * 100);

            statusDiv.style.backgroundImage = `linear-gradient(to right, rgb(102, 189, 254), rgb(102, 189, 254) ${comp}%, rgb(152, 220, 255) ${comp}%, ` +
                `rgb(152, 220, 255) ${run}%, rgb(255, 255, 255) ${run}%, rgb(255, 255, 255))`;

        }
        function getJobId(stageId) {
            var jobTable = document.getElementById('jobs-table');
            for(var i = 0; i < jobTable.rows[0].cells.length; i++){
                if(jobTable.rows[0].cells[i].innerText === "stagesList")
                    var col = i;
            }
            for(var j = 1; j < jobTable.rows.length; j++){
                var stageList = jobTable.rows[j].cells[col].innerText.split(',');
                if(stageList.includes(stageId.toString())){
                    return jobTable.rows[j].cells[0].innerText;
                }

            }


        }
        function updateTableTime(tableName, id, columnName, val){
            if(val === undefined)
                return;

            var colIndex;
            var rowIndex;
            var t = document.getElementById(tableName);
            for( let i = 0; i < t.rows[0].cells.length; i++){
                if(t.rows[0].cells[i].innerHTML === columnName){
                    colIndex = i;
                    break;
                }
            }

            for( let j = 0; j < t.rows.length; j++){
                if(t.rows[j].cells[0].innerHTML === id.toString()){
                    rowIndex = j;
                    break;
                }
            }

            if(val === undefined){
                return t.rows[rowIndex].cells[colIndex].innerHTML
            }else{
                t.rows[rowIndex].cells[colIndex].innerHTML = val;
            }

        }

        var js = "{\"Event\": \"SparkListenerTaskLaunchToExecutor\",\"from-component\": \"SiteDriver0\",\"from-host\": \"192.168.7.42\", " +
                "\"to-hosts\": [{\"to-host\": \"192.168.7.44\",\"to-components\": [{\"to-component\": \"test44.test.ivic.org.cn-1\",\"tasks\": [\"taskInfo1-1-1\",\"taskInfo1-1-2\"]}]}," +
                               "{\"to-host\": \"192.168.7.45\",\"to-components\": [{\"to-component\": \"test45.test.ivic.org.cn-2\",\"tasks\": [\"taskInfo1-3-1\",\"taskInfo1-3-2\",\"taskInfo1-3-4\",\"taskInfo1-3-5\"]}]}]}"
        var ee = JSON.parse(js);



        var webSocket = io("ws://192.168.7.64:2000");
        var totalTaskNum = 0;
        var runningTaskNum = 0;
        webSocket.on("connect", function () {
            console.log("connected");
            webSocket.emit("join", {"job": "{{ jobID }}"})

        });

        webSocket.on("play", function (data) {
            var timeLine = document.getElementById("time-line");
            if (isStopped === 1) {
                webSocket.emit("stopped", timeLine.value);
                console.log("stop at " + timeLine.value);
                return;
            }
            var obj = JSON.parse(data);

            timeLine.value = obj.time;
            var event = obj.data;

            switch (event["Event"]){
                case "init":
                    timeLine.max = event["data"];
                    break;
                case "SparkListenerTaskLaunchToExecutor":

                case 'SparkListenerBlockManagerAdded':
                    if(event["Block Manager ID"]["Executor ID"] === 'driver'){
                        addDriver(event);
                    }
                    break;
                case 'SparkListenerExecutorAdded':
                    addExecutor(event["Executor ID"], event["Executor Info"]["Host"]);
                    break;
                case 'SparkListenerJobStart':
                    startJob(event);
{#                    var pandc = connectSiteToEx(ee["from-host"], ee["to-hosts"]);#}
{#                    circleMove(pandc[0], pandc[1], 2000);#}
                    break;
                case 'SparkListenerStageSubmitted':
                    submitStage(event);
                    break;
                case 'SparkListenerTaskStart':
                    startTask(event);
                    break;
                case 'SparkListenerTaskEnd':
                    endTask(event);
                    break;
                case 'SparkListenerStageCompleted':
                    stageCompleted(event);
                    break;
                case 'SparkListenerJobEnd':
                    jobEnd(event);
                    break;
                case 'SparkListenerApplicationEnd':
                    appEnd(event);
                    break;
                default:
                    console.log("Unrecognized event: " + event["Event"]);


            }
            //webSocket.emit("recieved", {stage: stage});

        });

        function sendReplay(val) {
            console.log("replay to " + val);
            webSocket.emit("replay", {"point": val})

        }
        
        webSocket.on("clear",function () {
            console.log("clear event");
            var cl1 = document.getElementById('cloud-1');
            var drivers = cl1.getElementsByClassName("drivers-div")[0];
            drivers.innerHTML = "";
            var workers = cl1.getElementsByClassName("workers-div")[0];
            workers.innerHTML = "";
            var jobTable = document.getElementById("jobs-table");
            jobTable.tBodies[0].innerHTML = "";
            var stagesTable = document.getElementById("stages-table");
            stagesTable.tBodies[0].innerHTML = "";
            var shufflesTable = document.getElementById("shuffles-table");
            shufflesTable.tBodies[0].innerHTML = "";
        });

        webSocket.on("replay", function (data) {
            console.log("replay event");
            var event = JSON.parse(data);
            if (event === null){
                console.log("null msg");
                return
            }
            switch (event["Event"]){
                case 'SparkListenerBlockManagerAdded':
                    if(event["Block Manager ID"]["Executor ID"] === 'driver'){
                        addDriver(event);
                    }
                    break;
                case 'SparkListenerExecutorAdded':
                    addExecutor(event["Executor ID"], event["Executor Info"]["Host"]);
                    break;
                case 'SparkListenerJobStart':
                    startJob(event);
                    break;
                case 'SparkListenerStageSubmitted':
                    submitStage(event);
                    break;
                case 'SparkListenerTaskStart':
                    startTask(event);
                    break;
                case 'SparkListenerTaskEnd':
                    endTask(event);
                    break;
                case 'SparkListenerStageCompleted':
                    stageCompleted(event);
                    break;
                case 'SparkListenerJobEnd':
                    jobEnd(event);
                    break;
                case 'SparkListenerApplicationEnd':
                    appEnd(event);
                    break;
                default:
                    console.log("Unrecognized event: " + event["Event"]);


            }

        });

        webSocket.on("keyframe", function (data) {
           console.log("keyframe event");
           let d = JSON.parse(data);
           console.log(d);
           for(let driver of d["drivers"]){
               addDriver(null, driver["host"]);
           }

           for(let exec of d["executors"]){
               addExecutor(exec["id"], exec["host"], exec["fin_num"], exec["total_num"]);
           }

           for(let job of d["jobs"]){

               let tbody = document.getElementById("jobs-table").lastElementChild;
               let trow = document.createElement("tr");
               let tid = document.createElement("td");
               let tsub = document.createElement("td");
               let tcom = document.createElement("td");
               let tcost = document.createElement("td");
               let tstagelist = document.createElement("td");
               let tstagenum = document.createElement("td");
               let tstatus = document.createElement("div");

               trow.id = "tr-job-" + parseInt(job["jobid"]);
               tstatus.id = "job-status-" + parseInt(job["jobid"]);
               tstatus.className = "td-status";

               let subtime, comtime, costtime;
               if(job["subtime"] !== '-'){
                   subtime = new Date(job["subtime"]).toLocaleString();
                   jobSubTime[job['jobid']] = job["subtime"];
               }else{
                   subtime = '-';
               }
               if(job["comtime"] !== '-'){
                   comtime = new Date(job["comtime"]).toLocaleString();
                   costtime = (job["timecost"]/1000).toFixed(3) + "ms";
               }else{
                   comtime = '-';
               }

               tid.innerHTML = job["jobid"];
               trow.appendChild(tid);
               tsub.innerHTML = subtime;
               trow.appendChild(tsub);
               tcom.innerHTML = comtime;
               trow.appendChild(tcom);
               tcost.innerHTML = costtime;
               trow.appendChild(tcost);
               tstagelist.innerHTML = job["stagelist"].join(',');
               trow.appendChild(tstagelist);
               tstagenum.innerHTML = job["stagenum"];
               trow.appendChild(tstagenum);
               tstatus.className = 'td-status';
               tstatus.innerHTML = "<span id=\"running-num\">" + job["status"][0] + "</span>/<span>" + job["status"][1] + "</span>";
               tstatus.style.backgroundImage = `linear-gradient(to right, rgb(102, 189, 254), rgb(102, 189, 254) ${job["status"][0] / job["stagenum"] * 100}%, rgb(152, 220, 255) ${job["status"][0] / job["stagenum"] * 100}%, ` +
            `rgb(152, 220, 255) ${job["status"][1] / job["stagenum"] * 100}%, rgb(255, 255, 255) ${job["status"][1] / job["stagenum"] * 100}%, rgb(255, 255, 255))`;
               trow.appendChild(tstatus);
               tbody.appendChild(trow);
           }
           
            for(let stage of d["stages"]){
               let tbody = document.getElementById("stages-table").lastElementChild;
               let trow = document.createElement("tr");
               let tid = document.createElement("td");
               let tinput = document.createElement("td");
               let toutput = document.createElement("td");
               let tsread = document.createElement("td");
               let tswrite = document.createElement("td");
               let tcost = document.createElement("td");
               let tstagename = document.createElement("td");
               let tstasknum = document.createElement("td");
               let tstatus = document.createElement("div");
               trow.id = "tr-stage-" + parseInt(stage["stageid"]);
               tstatus.id = "stage-status-" + parseInt(stage["stageid"]);
               tstatus.className = "td-status";


                let costtime;
                if(stage["timecost"] !== "-"){
                    costtime = ((stage["timecost"])/1000).toFixed(3);
                }else{
                    costtime = "-";
                }

               tid.innerHTML = stage["stageid"];
               trow.appendChild(tid);
               tinput.innerHTML = stage["input"] || '-';
               trow.appendChild(tinput);
               toutput.innerHTML = stage["output"] || '-';
               trow.appendChild(toutput);
               tsread.innerHTML = stage["sread"] || '-';
               trow.appendChild(tsread);
               tswrite.innerHTML = stage["swrite"] || '-';
               trow.appendChild(tswrite);
               tcost.innerHTML = costtime;
               trow.appendChild(tcost);
               tstagename.innerHTML = stage["stagename"];
               trow.appendChild(tstagename);
               tstasknum.innerHTML = stage["tasknum"];
               trow.appendChild(tstasknum);
               tstatus.className = 'td-status';
               tstatus.innerHTML = "<span id=\"running-num\">" + stage["status"][0] + "</span>/<span>" + stage["status"][1] + "</span>";
               tstatus.style.backgroundImage = `linear-gradient(to right, rgb(102, 189, 254), rgb(102, 189, 254) ${stage["status"][0] / stage["tasknum"] * 100}%, rgb(152, 220, 255) ${stage["status"][0] / stage["tasknum"] * 100}%, ` +
            `rgb(152, 220, 255) ${stage["status"][1] / stage["tasknum"] * 100}%, rgb(255, 255, 255) ${stage["status"][1] / stage["tasknum"] * 100}%, rgb(255, 255, 255))`;
               trow.appendChild(tstatus);
               tbody.appendChild(trow);
           }




        });
    </script>

</body>
</html>